In [1]:
import pandas as pd 
import numpy as np

In [5]:
books=pd.read_csv('Books.csv')
users=pd.read_csv('Users.csv')
ratings=pd.read_csv('Ratings.csv')

C:\Users\BN Com\AppData\Local\Temp\ipykernel_13928\3397335393.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('Books.csv')

In [4]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [6]:
books=books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]

In [7]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [42]:
books.rename(columns={'Book-Title':'title','ISBN':'isbn','Book-Author':'author','Year-Of-Publication':'year','Publisher':'Publisher'},inplace=True)

In [43]:
books.head()

,isbn,title,author,year,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [44]:
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)

In [45]:
users.head(2)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [46]:
ratings.head()

      user_id        isbn  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [47]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)

C:\Users\BN Com\AppData\Local\Temp\ipykernel_13928\3723931569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)

In [48]:
ratings.head(1)

      user_id        isbn  rating
1456   277427  002542730X      10

In [49]:
books.shape

(271360, 5)

In [50]:
users.shape

(278858, 3)

In [51]:
ratings.shape

(526356, 3)

In [52]:
x=ratings['user_id'].value_counts()>200

In [53]:
y=x[x].index

In [54]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
        88793,   9856, 155916,  44296,  28634, 188951,  59727,  73681, 268622,
       274808],
      dtype='int64', name='user_id', length=899)

In [55]:
ratings=ratings[ratings['user_id'].isin(y)]

In [99]:
ratings

         user_id        isbn  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[526356 rows x 3 columns]

In [58]:
ratings_with_books=ratings.merge(books,on='isbn')

In [59]:
ratings_with_books.shape

(487671, 7)

In [61]:
 number_rating=ratings_with_books.groupby('title')['rating'].count().reset_index()

In [63]:
number_rating.rename(columns={'rating':'no of rating'},inplace=True)

In [64]:
number_rating

                                                    title  no of rating
0        A Light in the Storm: The Civil War Diary of ...             2
1                                   Always Have Popsicles             1
2                    Apple Magic (The Collector's series)             1
3        Beyond IBM: Leadership Marketing and Finance ...             1
4        Clifford Visita El Hospital (Clifford El Gran...             1
...                                                   ...           ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...             3
160265                                      Ã?Â?lpiraten.             1
160266                     Ã?Â?rger mit Produkt X. Roman.             1
160267                              Ã?Â?stlich der Berge.             1
160268                                  Ã?Â?thique en toc             1

[160269 rows x 2 columns]

In [65]:
final_rating=ratings_with_books.merge(number_rating,on='title')

In [66]:
final_rating

,user_id,isbn,rating,title,author,year,Publisher,no of rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,7
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,1
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,1
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,13
...,...,...,...,...,...,...,...,...
487666,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),1
487667,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",1
487668,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,1
487669,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),1
487670,275970,9626340762,8,Northanger Abbey (Classic Literature with Clas...,Jane Austen,1996,Naxos Audiobooks Ltd.,2

In [68]:
final_rating=final_rating[final_rating['no of rating']>50]

In [69]:
final_rating.shape

(59903, 8)

In [70]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

C:\Users\BN Com\AppData\Local\Temp\ipykernel_13928\1573401051.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [71]:
final_rating.shape

(57952, 8)

In [73]:
book_pivot=final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [74]:
book_pivot.shape

(703, 888)

In [77]:
book_pivot.fillna(0,inplace=True)

In [79]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
from scipy.sparse import csr_matrix 
book_sparse=csr_matrix(book_pivot)

In [83]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [101]:
book_sparse

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 14527 stored elements and shape (703, 888)>

In [84]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [87]:
distances,suggestions=model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [88]:
distances

array([[ 0.        , 22.53885534, 23.2594067 , 23.70653918, 23.72762104,
        23.9582971 ]])

In [89]:
suggestions

array([[237, 356, 296, 305, 377, 173]])

In [90]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Hemlock Bay', 'No Safe Place', 'Last Man Standing',
       'Long After Midnight', 'Pleading Guilty', 'Exclusive'],
      dtype='object', name='title')

In [94]:
book_pivot.index[237]

'Hemlock Bay'

In [97]:
def recomend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    
    
    distances, suggestions = model.kneighbors(
        book_pivot.iloc[book_id, :].values.reshape(1, -1),
        n_neighbors=6
    )
    

    for i in suggestions[0][1:]:
        print(book_pivot.index[i])

In [98]:
recomend_book('Animal Farm')

Exclusive
Jacob Have I Loved
Pleading Guilty
No Safe Place
The Cradle Will Fall

In [102]:
import pickle

# Save KNN model
with open("model.pkl", "wb") as f:
    pickle.dump(model, f)

# Save pivot table
with open("book_pivot.pkl", "wb") as f:
    pickle.dump(book_pivot, f)

# (Optional) Save books dataframe
with open("books.pkl", "wb") as f:
    pickle.dump(books, f)

# (Optional) Save ratings dataframe
with open("ratings.pkl", "wb") as f:
    pickle.dump(ratings, f)

In [103]:
import pickle

# Load KNN model
with open("model.pkl", "rb") as f:
    model = pickle.load(f)

# Load pivot table
with open("book_pivot.pkl", "rb") as f:
    book_pivot = pickle.load(f)

# (Optional) Load books dataframe
with open("books.pkl", "rb") as f:
    books = pickle.load(f)

# (Optional) Load ratings dataframe
with open("ratings.pkl", "rb") as f:
    ratings = pickle.load(f)